<div class="container w-27rem">
    <div class="flex justify-content-between p-3
     bg-primary-300 border-round">
        <span class="w-full">{{ form.get('passwordText')?.value }}</span>
        <img [ngClass]="{ 'cursor-pointer': form.get('passwordText')?.value != '', 'cursor-not-allowed': form.get('passwordText')?.value == '' }" (click)="copyToClipboard()" [pTooltip]="copySuccess ? 'Copied!' : ''"
            tooltipPosition="top" [tooltipDisabled]="!copySuccess" src="~/assets/icons/copy_icon.svg">
    </div>

    <form [formGroup]="form" (ngSubmit)="generatePassword()" class="mt-3 mx-2" novalidate>
        <div class="w-full my-3">
            <div class="flex justify-content-between my-1">
                <label for="email1" class="block text-900 font-medium mb-2">Password Length</label>
                <span class="text-blue-600 text-2xl">{{ form.get('passwordLength')?.value }}</span>
            </div>
            <p-slider formControlName="passwordLength" [min]="1" [max]="20" styleClass="w-full" />
        </div>

        <div class="flex justify-content-between my-1">
            <label for="includeUppercase" class="block text-900 font-medium mb-2">Include uppercase letters</label>
            <p-checkbox formControlName="includeUppercase" [binary]="true" inputId="includeUppercase" />
        </div>

        <div class="flex justify-content-between my-1">
            <label for="includeLowercase" class="block text-900 font-medium mb-2">Include lowercase letters</label>
            <p-checkbox formControlName="includeLowercase" [binary]="true" inputId="includeLowercase" />
        </div>

        <div class="flex justify-content-between my-1">
            <label for="includeNumbers" class="block text-900 font-medium mb-2">Include numbers</label>
            <p-checkbox formControlName="includeNumbers" [binary]="true" inputId="includeNumbers" />
        </div>

        <div class="flex justify-content-between my-1">
            <label for="includeSymbols" class="block text-900 font-medium mb-2">Include symbols</label>
            <p-checkbox formControlName="includeSymbols" [binary]="true" inputId="includeSymbols" />
        </div>

        <button pButton pRipple label="Generate Password" icon="pi pi-user" class="w-full mt-2"></button>
    </form>
</div>